[Desktop Entry]
Encoding=UTF-8
Name=Ventura
Comment=Browser 
Exec=ventura
Icon=ventura
Terminal=false
Type=Application
Categories=Application;Network;
